:root {
  --black: #333333;
  --link: #66CCFF;
  --data-icon: #05176C;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

.usa-link, .usa-dark-background a {
  /*
    TODO: Set up Sass so we can use default USWDS tokens
    instead of !important ?
  */
  color: var(--link, blue); 
}

.data-icon {
  color: var(--data-icon, darkblue);
}

.display-grid {
  display: grid;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}